<a href="https://colab.research.google.com/github/MaxZx3000/Heart-Disease/blob/main/Assignment_1_Indonesia_AI_(Anthony_Kevin_Oktavius).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Heart Disease Deep Learning

Dibuat oleh: Anthony Kevin Oktavius

In [2]:
import numpy as np
import tensorflow as tf
import pandas as pd
from IPython import display

**Membuat Matplotlib menggunakan SVG untuk Menampilkan Gambar**

SVG adalah singkatan dari Scalable Vector Graphics. SVG adalah format gambar berbasis vektor. Ketika menggunakan SVG, gambar akan ditampilkan dalam resolusi yang lebih tinggi dibandingkan dengan JPEG.

Akan tetapi, matplotlib menggunakan JPEG untuk menampilkan gambar. Untuk menggunakan SVG, kita bisa menggunakan fungsi dari IPython bernama set_matplotlib_formats('svg')

In [4]:
display.set_matplotlib_formats('svg')

## Data Loading

Inisialisasi Field yang akan digunakan

Mengunduh Dataset

In [5]:
dataset_column_names = ["Age"]

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data")

,63.0,1.0,1.0.1,145.0,233.0,1.0.2,2.0,150.0,0.0,2.3,3.0,0.0.1,6.0,0
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
298,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
299,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
300,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
301,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0